.contact .wrapper {
    gap: 5%;
    display: grid;
    margin-top: 5%;
    padding: 5% 20%;
    align-items: start;
    grid-template-columns: 5fr 2fr;
    background: linear-gradient(0deg, #fff, rgba(255, 255, 255, 0.89), rgba(255, 255, 255, 0.82), #fff), url(../assets/contact/back.jpg);
    background-size: 30%;

}

.contact h1 {
    margin-bottom: 10%;
    text-align: left;
}