main {
    background: linear-gradient(0deg, #fff, rgba(255, 255, 255, 0.84), rgba(255, 255, 255, 0.97), rgb(255 255 255 / 91%), #fff), url(../assets/back.jpg);
    background-size: 90%;
}

.contact .wrapper {
    gap: 5%;
    display: grid;
    margin-top: 5%;
    padding: 3% 15%;
    align-items: start;
    grid-template-columns: 7fr 3fr;
}

img {
    filter: hue-rotate(-3deg) saturate(1.6) sepia(0.1) contrast(0.95);
}

.contact h1 {
    margin-bottom: 10%;
    text-align: left;
}