footer {
    width: 100%;
    display: flex;
    font-size: 12px;
    letter-spacing: 1.2px;
    padding: 80px;
    font-family: "DM Sans", sans-serif;
    justify-content: space-between;
    background: #000;
    /*background: linear-gradient(182deg, transparent, #fffffc, rgba(248, 247, 244, 0.53), rgba(223, 222, 217, 0.72), #c5c1c1);*/
}

.footer-left,
.footer-right {
    width: 50%;
}

.footer-left li {
    list-style: none;
    font-weight:300;
    line-height: 3;
}

.footer-left li a {
    color: #fff;
}

.footer-right {
    text-align: right;
}

.footer-right p {
    display: block;
    height: 100%;
    align-content: end;
    color: #fff;
}

@media screen and (max-width: 500px) {
    footer {
        display: block;
        font-size: 15px;
        text-align: center;
        padding-bottom: 30px;
    }

    .footer-left,
    .footer-right {
        width: 100%;
    }

    .footer-right {
        margin-top: 120px;
        text-align: center;
    }

    .footer-right p {
        align-content: center;
        font-size: 12px;
    }

}