footer {
    width: 100%;
    display: flex;
    line-height: 2;
    font-size: 18px;
    padding: 80px 40px 30px;
    letter-spacing: 0.15em;
    justify-content: space-between;
    font-family: "Lateef", serif;
    /*background: linear-gradient(180deg, transparent, #f8f8f8, #e6e6e6);*/
    background: linear-gradient(180deg, transparent, #fffdfa, #f4f1f0, #ddd)
    /*color: #fff;*/
}

.footer-left,
.footer-right {
    width: 50%;
}

.footer-left li {
    list-style: none;
}

.footer-left li a {
    /*color: #fff;*/
}

.footer-right {
    text-align: right;
}

.footer-right p {
    display: block;
    height: 100%;
    align-content: end;
}

@media screen and (max-width: 500px) {
    footer {
        display: block;
        font-size: 15px;
        text-align: center;
        padding-bottom: 30px;
    }

    .footer-left,
    .footer-right {
        width: 100%;
    }

    .footer-right {
        margin-top: 120px;
        text-align: center;
    }

    .footer-right p {
        align-content: center;
        font-size: 12px;
    }

}