footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    font-family: "PT Serif", serif;
    line-height: 2;
    font-size: 15px;
    letter-spacing: 0.05em;
}

.footer-left,
.footer-right {
    width: 50%;
}

.footer-left li {
    list-style: none;
}

.footer-right {
    text-align: right;
}

.footer-right p {
    display: block;
    height: 100%;
    align-content: end;
}