header {
    width: 100%;
    display: flex;
    font-style: normal;
    letter-spacing: 0.4em;
    font-optical-sizing: auto;
    justify-content: space-between;
    font-family: "Lateef", serif;
}

.header-left,
.header-right {
    width: 50%;
}

.header-left {
    padding: 30px;
}

.header-right {
    padding: 30px;
}

.header-left a {
    height: 100%;
    display: block;
    font-size: 20px;
    font-weight: 600;
    max-width: 280px;
    line-height: 2;
    filter: url(#goo);
    padding: 10px 30px;
    position: relative;
    border-radius: 30px;
    transition: all 3s;
    text-transform: capitalize;
    /*background: linear-gradient(125deg, transparent, #f1f1f1, #f8f8f8, #ffffff, transparent, #eee);*/
    background: linear-gradient(75deg, transparent, #fff, #f8f6f3, #fff, #fff, #faf8f6, #eee, transparent, #fff, transparent);
}

.header-left a:hover {
    background-color: #000;
    transition-delay: .1s;
    border-radius: 25px 10px 30px 20px;
    /*background: linear-gradient(75deg, transparent, #f4f3f0, #faf8f6, #f8f6f3, transparent, #f3f0eb, #faf8f6, transparent, transparent, #f4f3f0);*/
}

.menu {
    filter: url(#goo);
    position: relative;
    justify-items: end;
}

.menu label:hover,
.menu__items li:hover {
    cursor: pointer;
}

.menu__face,
.menu__items {
    /*color: #fff;*/
    padding: 10px 20px;
    font-size: 14px;
    background: #000;
    background: linear-gradient(125deg, transparent, #f1f1f1, #f8f8f8, #ffffff, transparent, #eee);
    letter-spacing: 0.2em;
    border-radius: 20px 25px 35px 35px;
}

.menu__text {
    font-size: 20px;
    padding: 5px 40px 5px 20px;
    text-align: center;
    letter-spacing: 0.2em
}

.menu__face {
    min-width: 30px;
    display: flex;
    position: relative;
    justify-content: space-around;
}

.menu__items {
    right: 0;
    top: 50%;
    margin: 0;
    opacity: 0;
    z-index: -1;
    line-height: 2;
    list-style: none;
    position: absolute;
    visibility: hidden;
    letter-spacing: 0.1em;
    padding: 30px 30px 35px 30px;
    text-transform: capitalize;
    justify-content: space-between;
    transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
}

.menu__items li {
    font-size: 16px;
}

.menu__items::before {
    content: "";
    right: 20%;
    width: 20px;
    height: 40px;
    bottom: 100%;
    background: #000;
    background: linear-gradient(300deg, transparent, #f1f1f1, #f8f8f8, #ffffff, transparent, #eee);
    position: absolute;
    border-radius: 30px;
}

.menu__arrow {
    display: contents;
}

.menu__arrow img {
    width: 20px;
    /*filter: invert(1);*/
    margin-right: 10px;
}

.menu input {
    display: none;
}

.menu input:checked ~ .menu__items {
    opacity: 1;
    visibility: visible;
    top: calc(100% + 25px);
}

svg {
    display: none;
}

@media screen and (max-width: 480px) {

    .header-left,
    .header-right {
        padding: 20px 0 0 0;
    }

    .header-left {
        padding-left: 20px;
    }

    .header-right {
        padding-right: 20px;
    }

    .menu__face {
        width: 80%;
        min-width: unset;
        padding-right: 0;
        color: #000;
        background: linear-gradient(125deg, transparent, #f1f1f1, #f8f8f8, #ffffff, transparent, #eee);
    }

    .menu__face,
    .menu__items,
    .header-left a {
        padding: 0
    }

    header .header-left a,
    header .menu__face,
    header .menu__items {
        /*width: 120px;*/
        font-size: 18px;
        letter-spacing: 0.1em;
    }

    .menu__items {
        top: 80%;
        transition: all 0s;
    }

    .menu__items li {
        font-size: 16px;
    }

    .header-left a {
        width: 140px;
        transition: none;
        padding-left: 10px;
        background: transparent;
    }

    .header-left a:hover {
        background: transparent;
        transition-delay: 0s;
        border-radius: 50%;
    }

    .menu__text {
        padding: 3px 0;
        letter-spacing: 0.05em;
    }

    .menu {
        /*filter: none;*/
        justify-content: end;
        display: flex;
    }

    .menu__arrow img {
        margin-right: 0;
        width: 15px;
        filter: none;
    }

    .menu__items::before {
        display: none;
    }

    .menu input:checked ~ .menu__items {
        top: 30px;
        width: 80%;
        color: #000;
        padding: 10px 25px;
        background: linear-gradient(181deg, transparent, #f7f6f6, #f8f6f3, #fff, #f8f6f3, #faf8f6, transparent, #f1f1f1, #f2f2f2);
        /*border: 1px solid #bbb;*/
        border-top: none;
    }
}