header {
    width: 100%;
    display: flex;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    position: relative;
    padding: 22px 40px;
    letter-spacing: 7px;
    font-optical-sizing: auto;
    text-transform: uppercase;
    justify-content: space-between;
    font-family: "DM Sans", sans-serif;
    background: linear-gradient(358deg, transparent, #fff, #fffffc, rgba(241, 240, 238, 0.6), #ececec);
}

header .header-right input,
header .header-right svg {
    display: none;
}

header .header-left a:hover {
    color: #ddd;
    transition: 3s all;
}

header .menu {
    position: relative;
    justify-items: end;
}

header .menu label:hover,
header .menu__items li:hover {
    cursor: pointer;
}

header .menu__face,
header .menu__items {
    z-index: 5;
    text-align: right;
    position: relative;
    letter-spacing: 0.1em;
}

header .menu__text {
    margin-right: -5px;
}

header .menu__face {
    margin: 0;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 6px;
}

header .menu__items {
    right: 0;
    top: 50%;
    margin: 0;
    opacity: 0;
    z-index: 3;
    line-height: 2.2;
    list-style: none;
    position: absolute;
    visibility: hidden;
    transition: all 1s;
    padding: 5px 2px 50px 50px;
}

header .menu__items li a {
    transition: 1s;
    font-size: 11px;
    letter-spacing: 2px;
    font-weight: 400;
}

header .menu__arrow {
    width: 13px;
    opacity: 0.6;
    transition: 0.4s;
    margin-top: -3px;
    margin-left: 5px;
    filter: contrast(1.5) brightness(1.5);
}

header .menu input:checked ~ .menu__items {
    opacity: 1;
    visibility: visible;
    top: calc(100% + 5px);
}

@media screen and (min-width: 481px) {

    header .menu__face:hover {
        transition: 3s all;
    }

    header .menu__face img:hover {
        opacity: 0.8;
        transition: all 7s;
        transform: scale(0.8);
    }

    header .menu__items li a:hover {
        color: #dcdcdc;
        cursor: pointer;
        transition: all 0.7s;
    }

}
