header {
    width: 100%;
    display: flex;
    filter: url(#goo);
    padding: 15px 20px;
    letter-spacing: 0.15em;
    font-optical-sizing: auto;
    justify-content: space-between;
    font-family: "Lateef", serif;
    position: relative;
    /*background: linear-gradient(30deg, #fff, #ddd, transparent, rgba(236, 236, 236, 0.25), #fffffc, rgba(248, 247, 244, 0.53), rgba(221, 221, 221, 0.58), #eee);*/
    background: linear-gradient(25deg, transparent, #fff, #fffffc, rgba(248, 247, 244, 0.53), rgba(223, 222, 217, 0.72), #c5c1c1);
    /*background: linear-gradient(300deg, #ddd, transparent, #ffffff, rgba(251, 249, 247, 0.88), transparent, rgba(232, 230, 228, 0.76));*/
    /*border-bottom: 1px solid #eee;*/
}

.header-left,
.header-right {
    z-index: 3;
    width: 50%;
    display: grid;
    align-items: center;
}

.header-left a {
    display: block;
    font-size: 24px;
    font-weight: 400;
    height: 45px;
    line-height: 45px;
    max-width: 280px;
    letter-spacing: 0.17em;
    filter: url(#goo);
    position: relative;
    transition: all 2s;
    padding: 1px 0 1px 35px;
    text-transform: capitalize;
    text-shadow: 5px 1px 13px #fff;
    border-radius: 35px 45px 40px 50px;
    /*background: linear-gradient(75deg, #ddd, #fff, #f8f6f3, transparent, rgba(250, 248, 246, 0.63), rgba(238, 238, 238, 0.46), #fff, transparent, #c5c1c1);*/
    background: linear-gradient(300deg, #ddd, transparent, #ffffff, rgba(251, 249, 247, 0.88), transparent, rgba(232, 230, 228, 0.76));
}


.header-left a:hover {
    transition: 3s all;
    color: #ddd;
}

.menu {
    filter: url(#goo);
    position: relative;
    justify-items: end;
    margin-right: 25px;
}

.menu label:hover,
.menu__items li:hover {
    cursor: pointer;
}

.menu__face,
.menu__items {
    z-index: 5;
    text-align: right;
    position: relative;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    filter: url(#goo);
    letter-spacing: 0.1em;
    padding: 0 20px 0 40px;
    border-radius: 35px 50px 50px 40px;
    background-color: rgba(66, 67, 71, 0.85);
}

.menu__face {
    margin: 0;
    height: 40px;
    display: flex;
    min-width: 30px;
    line-height: 1.3;
    position: relative;
    transition-delay: 3s;
    justify-content: space-around;
    border-radius: 55px 65px 20px 54px;
    transition: all 2s cubic-bezier(0.93, 0.88, 0.1, 0.8);
    background: linear-gradient(125deg, transparent, #787878, #5e5e5e, #272727, #000, transparent);
    /*background: linear-gradient(230deg, transparent, rgba(255, 255, 255, 0.71), rgba(108, 105, 103, 0.25), transparent, #ddd, #292828, #000, #272727, rgba(29, 25, 32, 0.42), transparent);*/
    /*background: linear-gradient(260deg, transparent, rgba(255, 255, 255, 0.16), rgba(44, 36, 25, 0.67), transparent, #000, #4f4b4bc2, #272727, #292828, rgba(29, 25, 32, 0.42), #fff, transparent);*/
    /*background: linear-gradient(85deg, transparent, rgba(255, 255, 255, 0.71), rgb(184 183 182 / 46%), #2324276b, #130e0cc4, #292828, #000, #2d2d2dad, rgba(29, 25, 32, 0.42), transparent);*/

}

.menu__text {
    font-size: 24px;
    filter: url(#goo);
    text-align: center;
    letter-spacing: 0.15em;
    padding: 5px 40px 5px 20px;
}

.menu__face {
    margin: 0;
    display: flex;
    min-width: 30px;
    position: relative;
    transition-delay: 3s;
    justify-content: space-around;
    transition: all 2s cubic-bezier(0.93, 0.88, 0.1, 0.8);
}

.menu__items {
    right: 0;
    top: 55%;
    margin: 0;
    opacity: 0;
    z-index: -1;
    line-height: 2.4;
    list-style: none;
    position: absolute;
    visibility: hidden;
    transition: all 1s;
    border-radius: 40px 50px 40px 20px;
    padding: 20px 40px 30px 40px;
    justify-content: space-between;
    /*background: linear-gradient(45deg, #302f2d, #000);*/
    /*background: linear-gradient(20deg, transparent, #000, #333332, rgba(120, 120, 120, 0.35), rgba(63, 66, 71, 0.82), #272727, #000, transparent);*/
    /*background: linear-gradient(320deg, transparent, #000, rgba(48, 44, 46, 0.2), rgba(22, 32, 22, 0.57), rgb(36 33 33 / 42%), #000, #272727, transparent);*/
    /*background: linear-gradient(45deg, #302f2d, #000);*/
    /*background: linear-gradient(125deg, transparent, #f1f1f1, #f8f8f8, #ffffff, transparent, #eee);*/
    /*background: linear-gradient(20deg, rgba(41, 33, 33, 0.41), #939292, transparent, #666, rgba(108, 105, 103, 0.25), #292828, #272727, #000, rgba(29, 25, 32, 0.42), #000);*/
    background: linear-gradient(120deg, rgba(41, 33, 33, 0.41), #000000, #fffcfc0d, #666, rgba(108, 105, 103, 0.25), #292828, #272727, #000, rgba(29, 25, 32, 0.42), #000);

}

.menu__items li a {
    color: #fff;
    transition: 1s;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 3px;
}

.menu__items::before {
    content: "";
    right: 20%;
    width: 20px;
    height: 40px;
    bottom: 100%;
    position: absolute;
    border-radius: 30px;
    transition-delay: 0.2s;
    transition: all 5s;
    background: linear-gradient(205deg, rgba(108, 101, 101, 0.36), #000, #302f2d, #000);
    /*background: linear-gradient(20deg, transparent, #000, #333332, rgb(36 33 33 / 42%), rgba(63, 66, 71, 0.82), #272727, #000, transparent);*/
    /*background: linear-gradient(20deg, #939292, rgba(41, 33, 33, 0.41), rgba(108, 105, 103, 0.25), #292828, #272727, #000, rgba(29, 25, 32, 0.42), transparent);*/
}

.menu__arrow {
    display: contents;
}

.menu__arrow img {
    width: 12px;
    transition: 0.4s;
    filter: invert(1);
    margin-right: 25px;
}

.header-right input,
.header-right svg {
    display: none;
}

.menu input:checked ~ .menu__items {
    opacity: 1;
    text-align: center;
    visibility: visible;
    top: calc(100% + 25px);
}


@media screen and (min-width: 481px) {

    .menu__face:hover {
        transition: 3s all;
        transform: scale(0.95);
        background-color: #fff;
    }

    .menu__face:hover img {
        opacity: 0.8;
        transition: all 7s;
        transform: scale(0.8);
    }

    .menu__items li:hover a {
        color: #000;
    }

    .menu__items li a {
        transition: all 0.7s;
    }

}


@media screen and (max-width: 180px) {

    header {
        background: linear-gradient(166deg, transparent, #fffffc, rgba(248, 247, 244, 0.53), rgba(223, 222, 217, 0.72), #c5c1c1);
    }

    .header-left,
    .header-right {
        padding: 10px 0;
    }

    .header-left {
        padding-left: 20px;
    }

    .header-right {
        padding: 0 20px 0 40px;
    }

    .menu__face {
        /*color: #000;*/
        /*width: 100%;*/
        /*min-width: unset;*/
        /*padding-right: 0;*/
        /*transition: all 0s;*/
        /*background: linear-gradient(125deg, transparent, #f1f1f1, #f8f8f8, #ffffff, transparent, #eee);*/
        /*background: linear-gradient(55deg, transparent, #f1f1f1, #ffffff, #f8f8f8, #eee, transparent, #ffffff);*/
    }

    .menu__face,
    .menu__items,
    .header-left a {
        padding: 0
    }

    header .header-left a,
    header .menu__face,
    header .menu__items {
        text-align: left;
        font-size: 16px;
        letter-spacing: 0.1em;
    }

    .menu__items {
        top: 80%;
        transition: all 0s;
    }

    .menu__items li {
        font-size: 16px;
    }

    .menu__items li a {
        /*color: #000;*/
        font-weight: 400;
        font-size: 15px;
    }

    .header-left a {
        /*width: 140px;*/
        transition: none;
        padding-left: 10px;
        background: transparent;
    }

    .menu__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 2.4;
        padding: 2px 20px;
        letter-spacing: 0.1em;
    }

    .menu {
        /*filter: none;*/
        justify-content: end;
        display: flex;
    }

    .menu__arrow img {
        width: 10px;
        filter: none;
        margin-right: 0;
    }

    .menu__items::before {
        display: none;
    }

    .menu input:checked ~ .menu__items {
        top: 30px;
        left: 20px;
        width: 100%;
        color: #000;
        padding: 15px 25px 10px;
        /*background: linear-gradient(181deg, transparent, #f7f6f6, #f8f6f3, #fff, #f8f6f3, #faf8f6, transparent, #f1f1f1, #f2f2f2);*/
        /*background: linear-gradient(181deg, transparent, #f7f6f6, #f8f6f3, #fff, #f8f6f3, #faf8f6, #f5f6f49c, #f1f1f1, #f2f2f2);*/
        /*border: 1px solid #bbb;*/
        border-top: none;
    }
}

@media screen and (max-width: 780px) {

    header {
        display: grid;
        grid-gap: 20px;
        height: fit-content;
        justify-content: center;
    }

    .header-left, .header-right {
        width: 100%;
        text-align: center;
    }

    .header-left {
        align-items: end;
    }

    .header-right {
        align-items: start;
    }

    .header-left a {
        font-size: 18px;
        padding: 1px 0 1px 5px;
    }

    .menu {
        margin: 0;
    }

    .menu__text {
        font-size: 19px;
        line-height: 1.6;
        padding: 5px 30px;
        letter-spacing: 4px;
    }

    .menu__face {
        padding: 0;
    }
}
