header {
    height: 100vh;
    background: linear-gradient(25deg, transparent, #fff, #fffffc, rgba(248, 247, 244, 0.53), rgba(223, 222, 217, 0.72), #c5c1c1);
}

.menu__items {
    line-height: 1.7;
    padding: 20px 30px 20px 30px;
}

.menu__items li a {
    transition: 1s;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
}

.menu__items {
    border-radius: 20px;
    box-shadow: none;
    background: linear-gradient(120deg, rgba(41, 33, 33, 0.41), #000000, #fffcfc0d, #666, rgba(108, 105, 103, 0.25), #292828, #272727, #000, rgba(29, 25, 32, 0.42), #000);
}

@media screen and (max-width: 780px) {

}