header {
    height: 100vh;
    /*background: linear-gradient(30deg, #fff, #ddd, transparent, rgba(236, 236, 236, 0.25), #fffffc, rgba(248, 247, 244, 0.53), rgba(221, 221, 221, 0.58), #eee);*/
    background: linear-gradient(25deg, transparent, #fff, #fffffc, rgba(248, 247, 244, 0.53), rgba(223, 222, 217, 0.72), #c5c1c1);
    /*background: linear-gradient(300deg, #ddd, transparent, #ffffff, rgba(251, 249, 247, 0.88), transparent, rgba(232, 230, 228, 0.76));*/
    /*border-bottom: 1px solid #eee;*/
}

.menu__items {
    line-height: 1.7;
    padding: 20px 30px 20px 30px;
}

.menu__items li a {
    color: #fff;
    transition: 1s;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
}

.menu__items {
    border-radius: 20px;
    box-shadow: none;
    background: linear-gradient(320deg, transparent, #000, rgba(48, 44, 46, 0.2), rgba(22, 32, 22, 0.57), rgb(36 33 33 / 42%), #000, #272727, transparent);
    background: linear-gradient(120deg, rgba(41, 33, 33, 0.41), #000000, #fffcfc0d, #666, rgba(108, 105, 103, 0.25), #292828, #272727, #000, rgba(29, 25, 32, 0.42), #000);
}