* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

a {
    color: black;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.7px;
    text-decoration: none;
}

a:hover {
    color: #000;
    cursor: pointer;
    transition: 0.3s all;
    text-decoration: none;
    /*mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);*/
    /*!*-webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);*!*/
    /*-webkit-mask-size: 200%;*/
    /*animation: shine 2s infinite;*/
}

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }
    to {
        -webkit-mask-position: -50%;
    }
}

ul, li {
    list-style: none;
}

img {
    width: 100%;
    max-width: 100%;
}

main {
    min-height: 96vh;
}

.container {
    padding: 0 20% 5%;
    /*background: linear-gradient(0deg, transparent, #f2f4f2, #e8e6e2, transparent);*/
}

.container:after,
.container:before {
    display: none;
}

.wrapper {
    display: grid;
    align-items: center;
}

h1 {
    padding-top: 180px;
    color: #616161;
    font-size: 27px;
    font-weight: 200;
    text-align: center;
    letter-spacing: 8px;
    /*text-transform: uppercase;*/
    font-family: "DM Sans", sans-serif;
}

h2 {
    line-height: 2;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.8px;
    text-transform: capitalize;
    font-family: "DM Sans", sans-serif;
}

h4 {
    text-align: center;
}

p {
    font-size: 13px;
    line-height: 1.8;
    font-weight: 500;
    letter-spacing: 0.2px;
    color: #5f5959;
}

span {
    font-size: 14px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 1px;
    font-family: "DM Sans", sans-serif;
}

span.uppercase {
    text-transform: uppercase;
}

span.eng {
    font-size: 13px;
    letter-spacing: 0.6px;
}


/* header start */
header {
    top: 0;
    z-index: 9;
    width: 100%;
    display: flex;
    position: fixed;
    background: rgba(255, 255, 255, 0.26);
    padding: 7px 20px;
    font-optical-sizing: auto;
    /*backdrop-filter: blur(7px);*/
    justify-content: space-between;
    font-family: "DM Sans", sans-serif;
}

.header-left,
.header-right {
    z-index: 3;
    width: 50%;
    display: grid;
    align-items: center;
}

.header-left a {
    display: block;
    font-size: 17px;
    font-weight: 400;
    text-align: left;
    position: relative;
    transition: all 2s;
    letter-spacing: 4px;
    width: fit-content;
    text-transform: uppercase;
}

.header-left {
    display: flex;
    gap: 20px;
}

.header-right {
    display: flex;
    gap: 20px;
    justify-content: end;
}

.menu__button {
    margin: 0;
    display: flex;
    padding: 1px 0;
    position: relative;
    text-transform: uppercase;
    font-family: "DM Sans", sans-serif;
    transition: all 2s cubic-bezier(0.93, 0.88, 0.1, 0.8);
}

.menu__button:hover {
    cursor: pointer;
}

.menu__dropdown {
    margin: 0;
    opacity: 0;
    z-index: -1;
    right: 30px;
    list-style: none;
    text-align: right;
    position: absolute;
    visibility: hidden;
    transition: all 1s;
    top: calc(100% - 5px);
    justify-content: space-between;
}

.menu__dropdown li a {
    font-size: 13px;
    line-height: 2.1;
    text-transform: uppercase;
}

.menu2 .menu__dropdown {
    margin: 0;
    right: 165px;
    background: #eee;
    padding: 1% 1% 2%;
    width: fit-content;
    border-right: 1.5px solid;
}

.menu2 ul li {
    margin-top: 3px;
    backdrop-filter: blur(10px);
}

.menu2 .menu__dropdown li span,
.menu2 .menu__dropdown li a {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.1px;
    text-transform: capitalize;
}

.menu2 .menu__dropdown li a:hover {
    transition: 1s all;
    color: #0e0827;
    mask-image: linear-gradient(-75deg, rgba(255, 52, 136, 0.94) 30%, rgba(22, 103, 0, 0.49) 50%, rgba(7, 93, 255, 0.84) 70%);
    /*-webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);*/
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

.menu2 .menu__dropdown li a:hover span {
    background: linear-gradient(
            100deg,
            #ffffaf00 1%,
            #fdffd2 2.5%,
            rgba(253, 255, 246, 0.71) 5.7%,
            rgb(241, 253, 255) 93%,
            rgba(253, 255, 202, 0.71) 95%,
            #ffffaf00 98%
    ),
    linear-gradient(182deg, #ffffaf00, #ffffaf4d 8%, #ffffaf00 15%);
}

.menu2 .menu__dropdown li:nth-child(3) a:hover span,
.menu2 .menu__dropdown li:nth-child(4) a:hover span {
    background: linear-gradient(
            100deg,
            #ffffaf00 1%,
            #ddeeff 2.5%,
            rgba(232, 246, 255, 0.71) 5.7%,
            rgb(242, 242, 255) 93%,
            rgba(231, 237, 255, 0.71) 95%,
            #ffffaf00 98%
    ),
    linear-gradient(182deg, #ffffaf00, rgba(175, 198, 255, 0.3) 8%, #ffffaf00 15%);
}

.menu2 .menu__dropdown li:nth-child(5) a:hover span,
.menu2 .menu__dropdown li:nth-child(6) a:hover span {
    background: linear-gradient(
            100deg,
            #ffffaf00 1%,
            #fff0f0 2.5%,
            rgba(255, 246, 253, 0.87) 5.7%,
            rgb(255, 233, 252) 93%,
            rgba(255, 239, 231, 0.71) 95%,
            #ffffaf00 98%
    ),
    linear-gradient(182deg, #ffffaf00, rgba(255, 182, 175, 0.3) 8%, #ffffaf00 15%);
}

.menu2 .menu__dropdown li:nth-child(3):hover p,
.menu2 .menu__dropdown li:nth-child(4):hover p {
    background: linear-gradient(
            300deg,
            #ffffaf00 1%,
            rgba(0, 0, 0, 0.49) 2.5%,
            rgba(204, 218, 234, 0.71) 5.7%,
            rgb(242, 255, 252) 93%,
            rgba(0, 0, 0, 0.71) 95%,
            #ffffaf00 98%
    );
    font-weight: 600;
}

.menu2 .menu__dropdown li:nth-child(5):hover p,
.menu2 .menu__dropdown li:nth-child(6):hover p {
    background: linear-gradient(
            100deg,
            #ffffaf00 1%,
            rgba(0, 0, 0, 0.49) 2.5%,
            rgba(255, 214, 228, 0.71) 5.7%,
            rgba(255, 242, 244, 0.76) 93%,
            rgba(0, 0, 0, 0.71) 95%,
            #ffffaf00 98%
    );
}

.menu2 .menu__dropdown li:nth-child(7):hover p,
.menu2 .menu__dropdown li:nth-child(8):hover p,
.menu2 .menu__dropdown li:nth-child(9):hover p {
    background: linear-gradient(
            100deg,
            #ffffaf00 1%,
            rgba(0, 0, 0, 0.49) 2.5%,
            rgba(244, 255, 224, 0.71) 5.7%,
            rgba(255, 255, 242, 0.76) 93%,
            rgba(0, 0, 0, 0.71) 95%,
            #ffffaf00 98%
    );
}

.menu2 .menu__dropdown h3,
.menu2 .menu__dropdown p {
    margin: 4px 0;
    font-weight: 300;
    font-size: 13px;
    line-height: 1.2;
    text-transform: capitalize;
}

.menu2 .menu__dropdown p {
    font-size: 10px;
    font-weight: 300;
    border-radius: 30px;
}

.menu2 .menu__dropdown li,
.menu2 .menu__dropdown .description {
    gap: 10px;
    display: flex;
    justify-content: end;
}

.menu2 .menu__dropdown .description {
    width: 100%;
    padding-top: 5%;
    text-align: right;
}

.menu2 .menu__dropdown li:nth-child(3) {
    padding-top: 40px;
}

.menu2 .menu__dropdown .description {
    margin: 0;
    display: block;
}

.menu__text {
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 4px;
}

.menu2 .menu__button:hover {
    /*mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);*/
    /*!*-webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);*!*/
    /*-webkit-mask-size: 200%;*/
    /*animation: shine 2s infinite;*/
}

.menu2 .menu__text {
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 2.5px;
}

.menu__svg {
    display: grid;
    align-items: center;
}

.menu__svg img {
    width: 20px;
    margin-left: 2px;
    filter: saturate(0) brightness(1.6) contrast(1.5);
}

.header-left input,
.header-right input,
.header-right svg {
    display: none;
}

.menu input:checked ~ .menu__dropdown {
    opacity: 1;
    right: 30px;
    visibility: visible;
    top: calc(100% - 2px);
}

.menu2 input:checked ~ .menu__dropdown {
    right: 120px;
    padding: 20px 60px 60px;
}

/* footer start */
footer {
    width: 100%;
    display: flex;
    align-items: start;
    padding: 10px 30px;
    justify-content: space-between;
}

.footer-left,
.footer-right {
    width: 50%;
}

.footer-left ul {
    display: flex;
    gap: 15px;
}

.footer-left li {
    list-style: none;
    font-weight: 300;
    line-height: 1.5;

}

.footer-right {
    text-align: right;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.7px;
}

.footer-right p {
    display: block;
    height: 100%;
    align-content: end;
    margin: 0;
}


@media screen and (max-width: 780px) {

    .container {
        padding: 15% 10% 40%;
    }

    h1 {
        font-size: 20px;
        padding: 20% 0 0;
    }

    h2 {
        font-size: 0.6rem;
        padding: 35% 0 15%;
    }

    h3 {
        font-size: 11px;
        padding: 30% 0 20%;
        font-weight: 300;
        background: linear-gradient(to right, #fdfbce 15%, #384263 85%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    footer {
        display: block;
        font-size: 15px;
        text-align: center;
        padding-bottom: 30px;
    }

    .footer-left,
    .footer-right {
        width: 100%;
    }

    .footer-left ul {
        display: block;
        padding-top: 60px;
    }

    .footer-right {
        margin-top: 120px;
        text-align: center;
    }

    .footer-right p {
        align-content: center;
        font-size: 12px;
    }

}


@media screen and (min-width: 781px) {


}