.profile {
    margin: 0;
    width: unset;
    max-width: unset;
    background: linear-gradient(0deg, #fff, rgba(255, 255, 255, 0.84), rgba(255, 255, 255, 0.89), rgba(255, 255, 255, 0.88), #fff), url(../assets/profile/back.jpg);
    background-size: 40%;
}

.profile .wrapper {
    gap: 10%;
    display: grid;
    padding-bottom: 5%;
    align-content: center;
}

.profile .top {
    width: 1300px;
    margin: 10% auto 0;
    grid-template-columns: 2fr 1fr;
}

.profile .middle {
    width: 1500px;
    grid-template-columns: 3fr 11fr;
}

.profile .bottom {
    width: 700px;
    padding: 5% 0;
    margin: 0 auto;
    grid-template-columns: 3fr 1fr;
}

.profile .logo {
    text-align: right;
}

.profile .time {
    width: auto;
    font-weight: 500;
    text-align: right;
    letter-spacing: 1px;
    font-family: 'DM Sans', sans-serif;
}

.profile .timeline img {
    width: auto;
    height: 25px;
    margin: 0 0 20px;
}

.profile .tape1,
.profile .tape2,
.profile .tape3 {
    z-index: 2;
    width: 150px;
    position: relative;
    left: 10px;
}

.profile .tape1 {
    height: 74px;
    margin-left: 13%;
    margin-bottom: 45%;
    margin-top: 6%;
    rotate: 1deg;
    filter: brightness(0.9);
}

.profile .tape2 {
    left: 1%;
    height: 96px;
    width: 270px;
    rotate: -1deg;
    display: block;
    margin: 0 auto;
    position: relative;
    filter: brightness(0.9);
}

.profile .tape3 {
    width: 182px;
    height: 90px;
    margin-left: 15%;
    margin-bottom: 12%;
    filter: brightness(0.8);
}

.profile .pin {
    position: absolute;
    rotate: 3deg;
    width: 50px;
    z-index: 3;
    margin-top: 2%;
    margin-left: 10%;
    filter: brightness(0.8) contrast(1.5);
}

.profile .pin2 {
    position: absolute;
    rotate: 3deg;
    width: 60px;
    z-index: 3;
    margin-top: 1%;
    margin-left: 4%;
    filter: hue-rotate(54deg) saturate(0.5);
}

.profile .pin3 {
    z-index: 3;
    width: 100px;
    rotate: 5deg;
    margin-top: -1%;
    margin-left: 3%;
    position: absolute;
    filter: saturate(0.6) contrast(1.2) brightness(1.4) hue-rotate(120deg) opacity(0.9);
}

.profile h3 {
    z-index: 3;
    color: #fff;
    display: block;
    font-size: 30px;
    font-weight: 500;
    position: relative;
    margin: -9% auto -2%;
    text-align: center;
    letter-spacing: -2px;
    text-transform: uppercase;
    font-family: "Finger Paint", sans-serif;
    background: linear-gradient(to right, #e6e1ff 35%, #ecdcff 45%, #ffe8f0 50%, #ffb2c0 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.profile .part2 {
    padding: 5% 10% 5% 0;
}

.profile .part6 {
    margin-top: 10%;
}

.profile .part2 h3 {
    margin-top: -61%;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to right, #c3eaff 15%, #fcffe0 60%, #667fff 85%);
}

.profile .part5 h3 {
    margin-top: -35%;
    background: linear-gradient(to right, #ffe0c7 20%, #fff7dd 40%, #e3ffc0 60%, #ffed38 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.profile box {
    gap: 30px;
    display: grid;
    margin-bottom: 10%;
    align-items: start;
    grid-template-columns: 1fr 3fr;
}

.profile box:last-child {
    margin-bottom: 0;
}

.profile .middle box {
    grid-template-columns: 1fr 5fr;
    margin-bottom: 5%;
}

.profile .timeline .sb {
    height: 16px;
}

.profile .timeline .kg,
.profile .timeline .ch {
    height: 32px;
}

.profile .timeline .ba {
    height: 20px;
    margin-top: 10px;
}

.profile .timeline .pi {
    height: 30px;
}

.profile .timeline .wi,
.profile .timeline .ew {
    height: 24px;
}

.profile .timeline p {
    display: flex;
    line-height: 1.7;
    margin-bottom: 30px;
    align-items: center;
}

.profile .timeline p.timeline__item.time {
    margin-top: 5px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.2px;
}

.profile .timeline p.timeline__item:nth-child(2),
.profile .timeline p.timeline__item:nth-child(5),
.profile .timeline p.timeline__item:nth-child(8) {
    margin-bottom: 10px;
}

.profile .profile__info {
    text-align: center;
}

.profile .carousel {
    margin: 20% auto;
    height: fit-content;
    background: linear-gradient(120deg, #fff, rgba(241, 248, 248, 0.92));
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.29);
}

.profile #carousel-01 {
    padding: 30px 2px 10px 2px;
    background: url("../assets/profile/1/back.jpg");
    background-size: cover;
}

.profile #carousel-01 .item img {
    width: 100%;
    padding: 3px;
    object-fit: cover;
    background: rgba(238, 242, 255, 0.37);
    border: 2px solid rgba(159, 169, 202, 0.25);
    box-shadow: -1px -0.5px 3px #292828, 1px -0.5px 1px #706d6d;
}

.profile #carousel-02 {
    padding: 50px 2px 20px 2px;
    background: url("../assets/profile/2/back.jpg");
    background-size: cover;
}

.profile #carousel-02 .item img {
    padding: 3px;
    object-fit: cover;
    background: rgba(220, 227, 244, 0.26);
    border: 2px solid rgba(159, 169, 202, 0.25);
    box-shadow: -1px -0.5px 3px #292828, 1px -0.5px 1px #706d6d;
}

.profile #carousel-03 {
    padding: 50px 3px 20px 3px;
    background: url("../assets/profile/3/back.jpg");
    background-size: cover;
}

.profile #carousel-03 .item img {
    padding: 3px;
    background: rgba(220, 227, 244, 0.26);
    border: 2px solid rgba(159, 169, 202, 0.25);
    box-shadow: -1px -0.5px 3px #292828, 1px -0.5px 1px #706d6d;
    filter: contrast(0.9);
}

.profile .carousel-control {
    text-shadow: none;
    background: none !important;
}

.profile .carousel-control {
    top: 42%;
    color: rgba(0, 0, 0, 0.58);
    opacity: 0.8;
    font-size: 20px;
}

.profile .carousel-control.left {
    left: -15%;
}

.profile .carousel-control.right {
    right: -15%;
}

.profile .carousel-control:hover,
.profile .carousel-control:focus {
    color: #000;
}

@media screen and (max-width: 480px) {

    header {
        display: none;
    }

    .profile {
        margin: 0;
        background-size: 100%;
        background: #fff;
    }

    .profile box {
        display: block;
        margin-bottom: 25%;
    }

    .profile h3,
    .profile .tape1,
    .profile .tape3,
    .profile .tape2 {
        display: none;
    }

    .profile .timeline p.timeline__item,
    .profile .top,
    .profile .middle,
    .profile .bottom {
        display: block;
        padding: 0;
        margin: 0;
    }

    .part1,
    .part3,
    .part2,
    .part4,
    .part5,
    .part6 {
        padding: 0;
        margin-top: 10%;
        margin-bottom: 15%;
    }

    .part2,
    .part5 {
        display: none;
    }

}