.software .grid {
    --min: 110px;
    display: grid;
    grid-gap: 1rem;
    padding: 10% 24% 5%;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}

.software .item {
    margin: 0 auto;
    width: fit-content;
    text-align: center;
}

.software .item img {
    width: 60px;
    height: 60px;
    display: inline-block;
}

.software .item p {
    font-size: 13.5px;
    font-weight: 300;
    margin-bottom: 50%;
    letter-spacing: 0.9px;
}

@media screen and (max-width: 780px) {

    .software .grid {
        --min: 50px;
        padding: 25% 0 0;
    }

    .software .item img {
        width: 40px;
    }

}