.software {
    margin: 0;
    width: unset;
    max-width: unset;
    background: linear-gradient(0deg, #fff, rgba(255, 255, 255, 0.87), rgba(255, 255, 255, 0.77), rgba(255, 255, 255, 0.85), #fff), url(../assets/software/back.jpg);
    background-size: 100%;
}

.software .grid {
    --min: 110px;
    display: grid;
    grid-gap: 1rem;
    padding: 10% 22% 5%;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}

.software .item {
    margin: 0 auto;
    width: fit-content;
    text-align: center;
}

.software .item img {
    width: 70px;
    height: 70px;
    display: inline-block;
}

.software .item p {
    font-size: 13.5px;
    font-weight: 300;
    margin-bottom: 50%;
    letter-spacing: 1px;
}

@media screen and (max-width: 780px) {

    .software .grid {
        --min: 50px;
        padding: 25% 0 0;
    }

    .software .item img {
        width: 40px;
    }

}