.vision {
    max-width: unset;
    padding-left: 0;
    padding-right: 0;
}

.vision .top {
    padding: 0 20% 5%;
    /*background: linear-gradient(0deg, #fff, #f3f7f8, #f7fbfa, #fff);*/
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.vision .bottom {
    /*background: linear-gradient(0deg, #fff, #fdfbf9, #fffdf8, #fff);*/
    padding: 0 20% 5%;
}

.vision:after,
.vision:before {
    display: none;
}

.vision span {
    display: block;
    font-family: "DM Sans", sans-serif;
    font-size: 1.3rem !important;
    letter-spacing: 0.16em;
    line-height: 1.6;
    padding-bottom: 18px;
}

.part1 {
    padding: 5% 10% 0;
}

.part1:after {
    content: "";
    width: 70%;
    border: 1px solid #ddd;
    display: block;
    margin: 10% auto 0;
}

.part2 {
    padding: 10% 25% 0 0;
}

.part3 {
    padding: 0 10%;
    text-align: center;
}

.part4 {
    padding: 5% 28%;
}

.carousel {
    margin: auto;
}

#smallCarousel {
    width: fit-content;
    padding: 12px 9px 20px 7px;
    background-image: url("../assets/vision/1/back.png");
    background-size: 150%;
    background-position: center;
}

#smallCarousel .item img {
    max-height: 260px;
    object-fit: cover;
    filter: brightness(1.1) contrast(0.8) saturate(1.2);
    object-position: bottom;
}

#bigCarousel {
    width: fit-content;
    padding: 8px 36px 12px 25px;
    background-image: url("../assets/vision/2/back.png");
}

#bigCarousel .item img {
    object-fit: cover;
    filter: contrast(1.1) saturate(0.95) hue-rotate(5deg);
}


.carousel-control {
    background: none !important;
    text-shadow: none;
}

.carousel-control {
    top: 42%;
    color: #cacaca;
    opacity: 0.6;
    font-size: 35px;
}

.carousel-control.left {
    left: -40px;
}

.carousel-control.right {
    right: -40px;
}

.carousel-control:hover,
.carousel-control:focus {
    color: #000;
}

#bigCarousel .carousel-control.left {
    left: -60px;
}

#bigCarousel .carousel-control.right {
    right: -60px;
}

.num {
    z-index: 2;
    color: #666;
    width: 40px;
    font-size: 11px;
    padding: 2px 3px;
    line-height: 1.3;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: -45px;
    position: absolute;
    text-align: center;
    border-radius: 15px;
    letter-spacing: 0.2em;
    font-family: "DM Sans", sans-serif;
    background: rgba(255, 255, 255, 0.43);
}

#bigCarousel .num {
    color: #fff;
    bottom: 70px;
    background: rgba(48, 36, 14, 0.5);
}

@media screen and (max-width: 780px) {
    .vision .top {
        display: block;
    }

    .part1,
    .part2,
    .part3,
    .part4 {
        padding: 0;
        margin: 10%;
    }
}