.vision {
    max-width: unset;
    width: unset;
    padding: 5% 0;
}

.vision .top {
    padding: 0 5%;
    display: grid;
    grid-template-columns: 7fr 3fr;
    align-items: center;
    /*background: rgba(246, 247, 250, 0.81);*/
    margin-bottom: 5px
}

.vision .bottom {
    /*padding: 3% 20%;*/
    /*display: grid;*/
    /*grid-template-columns: 10fr 7fr;*/
    /*align-items: center;*/
    /*display: grid;*/
    /*grid-template-columns: 3fr 7fr;*/
    /*background: rgba(250, 248, 246, 0.68);*/
}

.vision:after,
.vision:before {
    display: none;
}

.vision span {
    display: block;
    font-family: "DM Sans", sans-serif;
    font-size: 13px !important;
    letter-spacing: 0.5px;
    line-height: 1.6;
    padding-bottom: 10px;
    text-transform: capitalize;
}

.part1 {
    padding: 10% 10% 10% 25%;
}

.part2 {
    padding: 10% 55% 10% 0;
}

.part3 {
    text-align: right;
    padding: 2% 20% 3% 25%;
}

.part4 {
    padding: 0 40% 0 15%;
}

.carousel {
    margin: auto;
}

#smallCarousel {
    width: fit-content;
    padding: 10px 9px 30px 7px;
    background-image: url("../assets/vision/1/back.png");
    background-size: 150%;
    background-position: center;
}

#smallCarousel .item img {
    max-height: 260px;
    object-fit: cover;
    filter: brightness(1.1) contrast(0.8) saturate(1.2);
    object-position: bottom;
}

#bigCarousel {
    padding: 6px 40px 5px 10px;
    margin: 0 22% 3%;
    width: fit-content;
    background-image: url("../assets/vision/222/back.webp");
}

#bigCarousel .item img {
    object-fit: cover;
    filter: brightness(0.98) hue-rotate(12deg);
    padding: 0;
}


.carousel-control {
    background: none !important;
    text-shadow: none;
}

.carousel-control {
    top: 42%;
    color: #d1d1d1;
    opacity: 0.6;
    font-size: 25px;
}

.carousel-control.left {
    left: -35px;
}

.carousel-control.right {
    right: -35px;
}

.carousel-control:hover,
.carousel-control:focus {
    color: #000;
}

#bigCarousel .carousel-control.left {
    left: -60px;
    font-size: 35px;
}

#bigCarousel .carousel-control.right {
    right: -60px;
    font-size: 35px;
}

.num {
    z-index: 2;
    color: #666;
    font-size: 11px;
    padding: 1px 8px;
    line-height: 1.3;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: -45px;
    position: absolute;
    text-align: center;
    border-radius: 15px;
    letter-spacing: 0.1em;
    font-family: "DM Sans", sans-serif;
    background: rgba(255, 255, 255, 0.27);
}

#bigCarousel .num {
    background: rgba(250, 255, 223, 0.78);
    margin-top: 10px;
}

@media screen and (max-width: 780px) {
    .vision {
        padding: 0;
    }

    .vision span {
        padding-bottom: 17px;
        text-align: left;
        overflow-wrap: break-word;
    }

    .vision .top {
        display: block;
        border-bottom: 1px solid #e6e4e0;
    }

    .vision .top,
    .vision .bottom {
        padding: 7% 0 15%;
        margin: 10%;
        background: transparent;
    }

    .part1,
    .part3,
    .part2,
    .part4 {
        padding: 5% 10%;
    }

    .part2 {
        padding: 5% 25%;
    }

    #bigCarousel {
        margin: 0;
        padding: 4px 5px 2px 15px;
    }

    #bigCarousel .num {
        color: #fff;
        background: linear-gradient(45deg, rgba(113, 126, 113, 0.3), rgba(99, 79, 43, 0.51));
    }
}