.works {
    width: unset;
    max-width: unset;
    /*background-image: linear-gradient(313deg, rgba(238, 238, 238, 0.73), rgba(255, 255, 255, 0.48), rgba(254, 254, 254, 0.35), rgb(255 255 255 / 81%), #ffffffd6, rgba(236, 236, 236, 0.46)), url(../assets/works/back.png);*/
    background-size: cover;
    margin: 0;
}

.top {
    height: 60vh
}

.works marquee {
    width: 100%;
    height: 106px;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    border-top: 10px solid #f5fdff;
    border-bottom: 10px solid #f6f9ff;
}

.works marquee img {
    height: 60px;
    width: 200px;
    object-fit: cover;
    object-position: center;
    margin-right: -5px;
    filter: saturate(1.1); /*filter: saturate(0) invert(1) contrast(2) brightness(0.9);*/
}

.works marquee img.filter {
    filter: hue-rotate(120deg) saturate(0.4) brightness(1.2);
}