main {
    margin: 0;
    width: unset;
    background: none;
}

.container {
    margin: 0;
    display: flex;
    padding: 0 5% 15%;
    width: 100%;
}

.wrapper {
    padding: 5% 0 5% 5%;
    display: block;
}

.work .top {
    padding: 5%;
}

.part1 {
    width: 70%;
    gap: 20px;
    padding: 0;
    margin: 5% 0;
    display: flex;
    align-items: start;
    /*overflow-x: scroll;*/
}

.part2 {
    width: 30%;
    padding: 20px 3vw;
    margin: 70px 3vw;
}

.work > * {
    font-family: "DM Sans", sans-serif;
}

.work h2 {
    margin: 0 0 8% 0;
    font-size: 11px;
    text-align: left;
    font-weight: 500;
    width: fit-content;
    text-transform: lowercase;
}

.work h3 {
    margin: 0 0 10% 0;
    line-height: 0;
    font-size: 20px;
    text-align: left;
    font-weight: 300;
    letter-spacing: 5px;
    font-family: "DM Sans", sans-serif;
}

.work h4 {
    font-size: 12px;
    font-weight: 500;
    text-align: left;
}

.work span {
    display: block;
    line-height: 2;
    font-size: 13px;
    padding-left: 2px;
    letter-spacing: 1px;
}

.work .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    margin-bottom: 10%;
}

.work ul {
}

.work ul li {
    font-size: 13px;
    line-height: 1.8;
    padding-left: 20px;
}

.work h2 light,
.work span light {
    color: #707070;
    font-size: 12px;
    letter-spacing: 0.2px;
}

.work .part1 p {
    margin: 0;
}

.work .screenshot {
    gap: 30px;
}

.work .work__logo {
    height: 32px;
    width: 100%;
    display: block;
    margin-top: 3px;
    margin-bottom: 5px;
    object-fit: cover;
}

.work h2:nth-child(2) {
    margin-bottom: 10px;
}

.work .work__text {
    padding-bottom: 10%;
}

.work .work__text h2 {
    margin-bottom: 5px;
}

.work .phone-frame {
    width: 20vw;
    display: block;
    border-radius: 30px;
    border: 3px solid #b5b5b5;
    background: linear-gradient(75deg, #000000, #1c1922, #51514b, #000, #1c1922, #000);
}

.work .phone-frame .phone-screen {
    margin: 40px 0 65px;
    padding: 2px;
}

.work .phone-frame .phone-screen .preview {
    margin: 0;
    padding: 0;
    border-left: 2px solid #c8c8c8;
    border-right: 2px solid #c8c8c8;
}

.work .work__brand {
    gap: 20px;
    /*display: flex;*/
}

.work .brand {
    width: 300px;
    height: 120px;
    display: block;
    object-fit: cover;
}