main {
    /*display: grid;*/
    /*grid-template-columns: 3fr 1fr;*/
}

.part1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.part2 {
    text-align: center;
}

.phone-frame {
    border: 3px solid #b5b5b5;
    background: #000000;
    border-radius: 20px;
    width: 180px;
}

.phone-frame .phone-screen {
    margin: 25px 0 35px;
}

.phone-frame .phone-screen .preview {
    margin: 0;
    padding: 0;
    border-right: 2px solid #000;
    border-left: 2px solid #000;
}

.brand {
    width: 200px;
    height: 130px;
    display: block;
    object-fit: cover;
}