main {
    background: linear-gradient(0deg, #fff, rgba(255, 255, 255, 0.84), rgba(255, 255, 255, 0.97), rgb(255 255 255 / 91%), #fff), url(../assets/back.jpg);
    background-size: 100% 110%;
}

.works {
    margin: 0;
    width: unset;
    max-width: unset;
    padding-bottom: 5%;
}


.works h1 {
    padding-top: 10%;
    padding-bottom: 3%;
    text-align: center;
}

.works h2 {
    text-align: center;
    margin-top: 7%;
}

.works h4 {
    line-height: 2;
    margin: 10% 0 3%;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 3px;
    opacity: 0.7;
    text-transform: uppercase;
    font-family: "DM Sans", sans-serif;
}

.works .works-grid {
    width: 45%;
    margin: 3% auto 15%;
}

.work .works-grid item {
    display: block;
}

.description {
    gap: 20px;
    display: flex;
    margin: 0 auto 3%;
    width: fit-content;
    text-align: center;
}

.work .description {
    margin: 0 0 5%;
    text-align: left;
}

.works .description p {
    font-size: 13px;
    line-height: 2.5;
    font-weight: 300;
    letter-spacing: 0.7px;
    text-align: right;
}

.work .description p {
    font-size: 11.5px;
}

.works .sticker {
    z-index: 3;
    width: 210px;
    margin-left: 5%;
    margin-top: -14%;
    position: relative;
    margin-bottom: -25%;
    rotate: 75deg;
    filter: saturate(0.8) contrast(1.3) hue-rotate(-10deg) brightness(1.1);
}

.works p,
.works a {
    font-weight: 300;
    letter-spacing: 0.8px;
    text-shadow: 2px 1px 15px #fff;
    font-family: "DM Sans", sans-serif;
}

.works item {
    gap: 40px;
    padding: 2% 5%;
    display: flex;
    font-weight: 500;
    line-height: 1.7;
    border: 2px solid transparent;
}


.works a {
    font-size: 14px;
    transition: 1s all;
    width: -webkit-fill-available;
    backdrop-filter: blur(1px);
    text-transform: capitalize;
}

.work .part1 a {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 2;
}

.works item p {
    width: 120px;
    line-height: 2;
    display: block;
    font-size: 10px;
    font-weight: 400;
    text-align: right;
    letter-spacing: 0.8px;
}

.works item:hover a {
    font-weight: 600;
    transition: 2s all;
    letter-spacing: 0.8px;
    mask-image: linear-gradient(-75deg, rgba(255, 52, 136, 0.94) 30%, rgba(22, 103, 0, 0.49) 50%, rgba(7, 93, 255, 0.84) 70%);
    /*-webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);*/
    -webkit-mask-size: 200%;
    text-decoration: underline;
    animation: shine 2s infinite;
}

.works item:hover p {
    font-weight: 500;
    mask-image: linear-gradient(-75deg, rgba(255, 52, 136, 0.94) 30%, rgba(22, 103, 0, 0.49) 50%, rgba(7, 93, 255, 0.84) 70%);
    /*-webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);*/
    -webkit-mask-size: 200%;
    animation: shine 1s infinite;
}

.work h1 {
    margin: 0;
    text-align: left;
}

.work h2 {
    font-size: 12px;
    text-align: left;
    font-weight: 400;
    margin: 0;
}

.work .part1 {
    margin-top: 10%;
}

.work .top {
    display: flex;
    padding: 5% 0;
    align-items: start;
}

.work .phone-frame {
    width: 270px;
    border-radius: 40px;
    border: 3px solid #b5b5b5;
    background: linear-gradient(75deg, #000000, #1c1922, #c5c6be, #000, #1c1922, #000);
}

.work .phone-frame .phone-screen {
    margin: 50px 0 65px;
}

.work .phone-frame .phone-screen .preview {
    margin: 0;
    padding: 0;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

.work .brand {
    width: 200px;
    height: 130px;
    display: block;
    object-fit: cover;
}